spring.application.name=coweave-backend
# this file stores env variables

# PostgreSQL Connection Settings
spring.datasource.url=jdbc:postgresql://localhost:5433/coweave_db
spring.datasource.username=YOUR_DB_USERNAME_HERE
spring.datasource.password=YOUR_DB_PASSWORD_HERE

# Hibernate (JPA) Settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Redis Connection Settings
spring.data.redis.host=localhost
spring.data.redis.port=6379
